@import './config.css';
.mt-sm {
  margin-top: var(--p-sm);
}
.mt-md {
  margin-top: var(--p-md);
}
.mt-lg {
  margin-top: var(--p-lg);
}
.mt-xl {
  margin-top: var(--p-xl);
}
.mt-xxl {
  margin-top: var(--p-xxl);
}
.mt-xxxl {
  margin-top: var(--m-xxxl);
}

.mb-sm {
  margin-bottom: var(--p-sm);
}
.mb-md {
  margin-bottom: var(--p-md);
}
.mb-lg {
  margin-bottom: var(--p-lg);
}
.mb-xl {
  margin-bottom: var(--p-xl);
}
.mb-xxl {
  margin-bottom: var(--p-xxl);
}


.ml-sm {
  margin-left: var(--p-sm);
}
.ml-md {
  margin-left: var(--p-md);
}
.ml-lg {
  margin-left: var(--p-lg);
}
.ml-xl {
  margin-left: var(--p-xl);
}
.ml-xxl {
  margin-left: var(--p-xxl);
}
.ml-auto {
  margin-left: auto;
}

.mr-sm {
  margin-right: var(--p-sm);
}
.mr-md {
  margin-right: var(--p-md);
}
.mr-lg {
  margin-right: var(--p-lg);
}
.mr-xl {
  margin-right: var(--p-xl);
}
.mr-xxl {
  margin-right: var(--p-xxl);
}

.m-sm {
  margin: var(--p-sm);
}
.m-md {
  margin: var(--p-md);
}
.m-lg {
  margin: var(--p-lg);
}
.m-xl {
  margin: var(--p-xl);
}
.m-xxl {
  margin: var(--p-xxl);
}

/*padding*/
.pt-sm {
  padding-top: var(--p-sm);
}
.pt-md {
  padding-top: var(--p-md);
}
.pt-lg {
  padding-top: var(--p-lg);
}
.pt-xl {
  padding-top: var(--p-xl);
}
.pt-xxl {
  padding-top: var(--p-xxl);
}

.pb-sm {
  padding-bottom: var(--p-sm);
}
.pb-md {
  padding-bottom: var(--p-md);
}
.pb-lg {
  padding-bottom: var(--p-lg) !important;
}
.pb-xl {
  padding-bottom: var(--p-xl);
}
.pb-xxl {
  padding-bottom: var(--p-xxl);
}

.pl-sm {
  padding-left: var(--p-sm);
}
.pl-md {
  padding-left: var(--p-md);
}
.pl-lg {
  padding-left: var(--p-lg);
}
.pl-xl {
  padding-left: var(--p-xl);
}
.pl-xxl {
  padding-left: var(--p-xxl);
}
.pl-none {
  padding-left: 0 !important;
}

.pr-sm {
  padding-right: var(--p-sm);
}
.pr-md {
  padding-right: var(--p-md);
}
.pr-lg {
  padding-right: var(--p-lg);
}
.pr-xl {
  padding-right: var(--p-xl);
}
.pr-xxl {
  padding-right: var(--p-xxl);
}

.p-sm {
  padding: var(--p-sm);
}
.p-md {
  padding: var(--p-md);
}
.p-lg {
  padding: var(--p-lg);
}
.p-xl {
  padding: var(--p-xl);
}
.p-xxl {
  padding: var(--p-xxl);
}

.mH-100vh{
  min-height: 100vh;
}
.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-inherit {
  height: inherit;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.p-none {
  padding: 0 !important;
}
.m-none {
  margin: 0 !important;
}
.boxSizing-BB{
  box-sizing: border-box;
}
 .justify-content-space-between {
  justify-content: space-between;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-center {
  align-items: center;
}

.borderBottom-default {
  border-bottom: 1px solid black;
}

.bgColor-gray-default {
  background-color: var(--color-gray-default);
}
